:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  background-color: #ffffff;

  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}
.accent {
  color: var(--primary-text-color);
}

.list .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.button {
  color: var(--primary-bg-color);
  background: var(--accent-color);

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.features .text {
  color: var(--title-text-color);
}

.features .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.service .service-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.service .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.team .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team.activity {
  color: var(--title-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
}

.clients .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
}
.filter:hover,
.filter:focus {
  color: var(--accent-color);
}
.portfolio .text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1, 75;
  color: #eb1313;
  text-decoration: none;
}
.portfolio .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.portfolio .service {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  text-decoration: none;
}

.footer {
  background-color: #2f303a;
}
.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}
.footer .accent {
  color: var(--primary-bg-color);
}

.footer .text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-bg-color);
}

.footer .link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
.footer .button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}
